@model stajbul.Models.stajbulUser
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "stajbulUsers", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <table>
        <tr>
            <td>
                @Html.LabelFor(a => a.username)
            </td>
            <td>
                @Html.TextBoxFor(a => a.username)
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.username)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.password)
            </td>
            <td>
                @Html.TextBoxFor(a => a.password)
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="Login" />
            </td>
            <td>
            </td>
        </tr>
    </table>

}

